.DS_Store
.classpath
.project
.settings/
.DS_Store
data/
log/
bin/
keystore/*.der
keystore/*.pem
keystore/ogwapi-token
target/
.vscode/
_run-static-analyzer.sh
_utils.sh
_pre-commit.sh
dependency-reduced-pom.xml